.SwipeButton{
		position:fixed;
		bottom:10vh;
		display:flex;
		width:100%;
		justify-content: space-evenly;
}
.SwipeButton .MuiIconButton-root{
	background-color: white;
	box-shadow: 0pc 10px 050px 0px black

}


.swipe_buttons_repeat{
	/*padding:2vw !important;*/
	color:yellow !important;
}
.swipe_buttons_left{
	/*padding:2vw !important;*/
	color:red !important;
}
.swipe_buttons_right{
	/*padding:2vw !important;*/
	color:blue !important;
}
.swipe_buttons_light{
	/*padding:3vw !important;*/
	color:green !important;
}
.swipe_buttons_star{
	/*padding:3vw !important;*/
	color:orange !important;
}