.card{
	position:relative;
	width:600px;
	padding:20px;
	max-width:85vw;
	height: 60vh;
	box-shadow: 0px 53px 18px  0px black;
	border-radius:20px;
	background-size: cover;
	background-position: center;
}

.Tinder_card_container{
	display: flex;
	justify-content: center;
	margin-top: 5vh;
}

.swipe{
	position: absolute;
}

.card h3{
	position: absolute;
	color:red;
	bottom:0;
}

.cardContent{
	width:100%;
	height:100%;
}